[submodule "js-ceramic"]
	path = js-ceramic
	url = https://github.com/ceramicnetwork/js-ceramic.git
[submodule "ceramic-anchor-service"]
	path = ceramic-anchor-service
	url = https://github.com/ceramicnetwork/ceramic-anchor-service.git
[submodule "js-ipfs-daemon"]
	path = js-ipfs-daemon
	url = https://github.com/ceramicnetwork/js-ipfs-daemon
