[submodule "ipfs"]
	path = submodules/ipfs
	url = https://github.com/ceramicnetwork/go-ipfs-daemon
[submodule "cas"]
	path = submodules/cas
	url = https://github.com/ceramicnetwork/ceramic-anchor-service
[submodule "ceramic"]
	path = submodules/ceramic
	url = https://github.com/ceramicnetwork/js-ceramic
[submodule "benchie"]
	path = submodules/benchie
	url = https://github.com/ceramicnetwork/benchie.git
